
Server/\.vs/TSD-TestGenerator/v16/Server/sqlite3/db\.lock

Server/\.vs/TSD-TestGenerator/v16/\.suo

Server/\.vs/TSD-TestGenerator/v16/Server/sqlite3/storage\.ide

Server/\.vs/TSD-TestGenerator/DesignTimeBuild/\.dtbcache

Server/TSD-TestGenerator/obj/

Server/TSD-TestGenerator/bin/

Server/\.vs/TSD-TestGenerator/v16/Server/sqlite3/storage\.ide-shm

Server/\.vs/TSD-TestGenerator/v16/Server/sqlite3/storage\.ide-wal

Server/\.vs/TSD-TestGenerator/xs/sqlite3/db\.lock

Server/\.vs/TSD-TestGenerator/xs/sqlite3/storage\.ide

Server/\.vs/TSD-TestGenerator/xs/sqlite3/storage\.ide-shm

Server/\.vs/TSD-TestGenerator/xs/sqlite3/storage\.ide-wal

Server/\.vs/TSD-TestGenerator/xs/UserPrefs\.xml

Server/\.vs/TSD-TestGenerator/v15/\.suo

Server/\.vs/TSD-TestGenerator/v15/Server/sqlite3/db\.lock

Server/\.vs/TSD-TestGenerator/v15/Server/sqlite3/storage\.ide

Server/\.vs/TSD-TestGenerator/v15/Server/sqlite3/storage\.ide-wal

Server/\.vs/TSD-TestGenerator/v15/Server/sqlite3/storage\.ide-shm
